@media (min-width: 1000px){

.header{
    margin: 3.2rem 42.5rem 0 36rem ;
}

.logo-noktos{
    height: 9rem;
}
/* ---------SECTIONS----------*/
.main-menssage, .questions, .fotter-section{
    margin: 0 42rem;
    margin-bottom: 6.2rem;
    font-size: 1.8rem;
}

/* ---------Thank you for joining----------*/
.travel-illustration{
    height: 40rem;
    margin-bottom: 2.4rem;
}
.menssage-title--black{
    margin:7.2rem 0 2.4rem 0;
    font-size: 5.6rem;
}


/*-------Questions´ Noktos------- */
.container-question {
    margin-bottom: 2.4rem;
}
.question{
    font-size: 2rem;
}

.profit, .contact {
    display: flex;
    align-items: center;
    padding-bottom: 1.4rem;
}
/* ---------Note´s Noktos----------*/
.package-note{
    padding: 1.6rem;
    margin: 2.4rem 0 4.8rem ;
    display: flex;
    flex-direction:row;
    align-items: center;
    line-height: 2.4rem;
    text-align: left;
}

.package-note > p{
    padding: 0 2.4rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: left;
}

/*------------VIEW PAYMENTS----------*/
.main-menssage-payment{
    margin: 0 42rem;
    margin-bottom: 6.2rem;
    font-size: 1.8rem;
}
.list-one, .list-two{
    font-size: 1.6rem;
}
.list-one{
    width: 50%;
}
.list-two .item-name-socio{
    padding-bottom: 2.8rem;
}

/*------------VIEW COUPON----------*/
.main-menssage-coupon{
    margin: 0 42rem;
    margin-bottom: 6.2rem;
    font-size: 1.8rem;
}


}