@media (min-width: 1000px){

    .header{
        margin: 3.2rem 42.5rem 0 36rem ;
    }
    
    .logo-noktos{
        height: 9rem;
    }
    
    /* ---------SECTIONS----------*/
    .main-menssage-coupon, 
    .fotter-section, .note-noktos{
        margin: 0 42rem;
    }
    hr{
        margin: 4.8rem 42rem 4.8rem 42rem ;
    }
    .travel-illustration{
        height: 40rem;
        margin-bottom: 2.4rem;
    }
    .payment-title--black{
        margin:7.2rem 0 4.8rem 0;
        font-size: 5.6rem;
    }
    
    /* ------CARD WHITE/GRAY------- */
    .card-coupon-gray-info{
        font-size: 1.8rem;
    }
    .column1{
        width:40rem;
    }

    .card-coupon-white{
        margin: 0 42rem 5.6rem 42rem;
    }
    
 /* ---------NOTE´S NOKTOS----------*/
    .note-noktos{
        padding: 1.6rem;
        flex-direction: row;
    }
    .note-noktos > p{
        padding: 0 2.4rem;
        text-align: left;
    }
    }