:root{
    --white--100: #F5FDFF;
    --white--95:#F7FEFF;
    --white--90: #E6F9FF;
    --blue--85:#B3EDFF;
    --blue--50: #007499;
    --gray--40: #566266;
    --gray--10: #E8EBEB;
    --black--70: #002733;
    --black--80: #001319;
    --blue--link: #0047E7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    background-color: var(--white--95);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--gray--40);
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 1.6rem;
}
.logo-noktos{
    width: 25%;
    height: 6rem;
}
.header > p{
    padding-top: 1.6rem;
}

/* ---------SECTIONS----------*/
.main-menssage, .questions, 
.fotter-section, .note-noktos, 
hr{
    margin: 1.6rem;
    margin-bottom: 4.8rem;
}

/* ---------THANK YOU----------*/
.travel-illustration{
    width: 100%;
    height: 30rem;
    margin-bottom: 2.4rem;
}
.menssage-title--black{
    margin:4.8rem 0 2.4rem 0;
    font-size: 3.8rem;
    line-height: 4.8rem;
    color: var(--black--70);
}

.numer-partner{
    font-size: 2.4rem;
}
.emphasize{
    color: var(--blue--50);
}

/* ---------QUESTIONS´ NOKTOS----------*/
.container-question{
    margin-bottom: 2.8rem;
}
.question{
    font-size: 1.8rem;
    font-weight: 500;
    color:var(--blue--50);
    line-height: 2.4rem;
    margin-bottom: .8rem;
}
.answer{
    line-height: 2.4rem;
    margin-bottom:3.2rem;
}
.profits-list, .contact-list{
    margin-top: 1.6rem;
    list-style: none;
}
.profit, .contact{
    display: flex;
    align-items: center;
    padding-bottom: 2.4rem;
}
.contact{
    padding-bottom: .8rem;
}
.space-text-icon{
    padding-left: .8rem;
}
.contact-list{
    margin:1.6rem 0 2.4rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

/* ---------NOTE´S NOKTOS----------*/
.note-noktos{
    border-radius: .6rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue--85);
    color: var(--black--80);
}
.coin-2D-image{
    width: 7rem;
}
.note-noktos> p{
    padding: .8rem;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-align: center;
}

/* ---------FOOTER----------*/
.fotter-section{
    margin-top: 4rem;
    margin-bottom: 2.4rem;
    line-height: 2.4rem;
}
.link {
    color: var(--blue--link);
}
